img.octocat {
  height: 200px;
}

.container {
  background-color: rgb(235, 233, 233);
  width: 950px;
  margin: 0px auto;
  padding: 10px;
  font-weight: bolder;
  font-family: monospace;
  font-size: large;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
}

.section1 {
  padding: 10px;
  margin-bottom: 15px;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-around;
}

.section2 {
  padding: 10px;
  margin-bottom: 15px;
  background-color:pink;
  display: flex;
  justify-content: center;
}

.section3 {
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}